/**
Custom CSS for the JSDOC template
 */

.container .kind{
  display:none;
}

/**
  Set colors to cloudinary theme
 */
.page-header {
  background-color: #3448C5 !important;
}
/**
  Set colors to cloudinary theme
 */
.breadcrumb li a {
  color: #FF5050!important;
}

/**
  Set colors to cloudinary theme
 */
.toc .nav>li.active>a, .toc .nav>li.active>a:focus, .toc .nav>li.active>a:hover {
  color: #FF5050!important;
  border-left: 2px solid #3448C5!important;
}

/**
  Set colors of buttons to cloudinary theme
 */
.symbol-title .name-signature, .symbol-title .signature-params {
  color: #0c163b!important;
}
/**
  Set colors of buttons to cloudinary theme
 */
.back-to-top {
  color: #5A616A!important;
}

/**
  make function names bold
 */
.symbol-title.collapsible-symbol.function .name {
  font-weight: bold;
  text-decoration: underline;
}

/**
  Set colors of buttons to cloudinary theme
 */
.symbol-title.collapsible-symbol .toggle-icon {
  color: #3448C5!important;
  text-indent: 0!important;
}

/**
  Set colors to cloudinary theme
 */
.callout-primary {
  border-left-color: #3448C5!important;
}

/**
  Set colors to cloudinary theme
 */
.callout-primary h5 {
  color: #3448C5!important;
}

/**
  Set colors to cloudinary theme
 */
body {
  color: #0c163b!important;
}

/**
  Set colors to cloudinary theme
 */
.toc .nav>li>a .name-signature, .toc .nav>li>a .signature-params {
  color: #0c163b!important;
}

/**
  Set colors to cloudinary theme
 */
.callout-default {
  border-left-color: #5A616A!important;
}

/**
  Set sizes to cloudinary theme
 */
.branding-logo {
  background-size:30px;
}


/**
 * CONTROL THE SEARCH RESULTS, PILLS, FORMATTING ETC,
 */
.lunr-search-result-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #808080c4;
}

.lunr-search-result-pill {
  border:1px solid grey;
  border-radius:15px;
  padding-left:5px;
  padding-right:5px;
  margin-right:5px;
  color:grey;
  display: inline-block;
  min-width: 64px;
  font-size: 10px;
  text-align: center;
}

.lunr-search-result-pill.action {
  border:1px solid black;
  background-color:green;
  color:white;
}
.lunr-search-result-pill.qualifier {
  border:1px solid black;
  background-color:teal;
  color:white;
}
.lunr-search-result-pill.namespace {
  border:1px solid black;
  background-color:darkorange;
  color:white;
}

.lunr-search-result-pill.sdk {
  border:1px solid black;
  background-color: #2d2d2d;
  color:white;
}

.lunr-search-result-pill.config {
  border:1px solid black;
  background-color: lightpink;
}

.lunr-search-result-pill.test {
  border:1px solid black;
  background-color: mediumpurple;
  color: white;
}

/**
 * ENSURE ALL RIGHT-SIDE MENUS ARE ALWAYS OPEN
 */
.toc .nav .nav {
  display:block!important;
}

/**
 * ENSURE ALL COLLAPSABLE AREAS ARE ALWAYS OPEN
 */
.symbol-details {
  /*max-height:9999px!important;*/
}

.symbol-title.function {
  /*padding: 0px;*/
}

/**
 * Support left-right columns in the search
 */
.modal-body {
  display:flex;
}

.modal-dialog {
  width:900px;
}

.modal-body__left {
  width:500px;
}
.modal-body__right {
  width: 350px;
  padding-left: 10px;
  margin-left: 20px;
  border-left: 1px solid black;
}

.pill-desc {
  white-space: initial;
}

.pill-legend {
  padding-bottom:15px;
}



/**
  Hide the <static> prefix in method names
 */
.signature-attribs {
  display:none;
}

/**
  Make the description and details sections of a function smaller
 */
.callout {
  padding: 13px;
}
/**
  Hide the Return statement of methods
 */
.callout-success {
  display:none;
}

/**
  Reduce spaces between horizontal lines
 */
.hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 * Fix indentation
 */
.symbol-details .form-horizontal .control-label {
  text-align:left;
}


/**
 * In the @example tags, we can use <caption></caption> to provide titles to the examples
 * Since we use title h tags (<h4> for example), these get anchor tags added to them
 * These interfere with the look & feel, so we're hiding them
 */
.example-caption .anchor-link {
  display:none;
}
