{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist", "docs", "node_modules", "dev/*.esm*", "src/backwards"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "require-jsdoc": "error",
    "no-unused-vars": "warn",
    "indent" : ["error", 2, { "SwitchCase": 1 }],
    "dot-notation" : "error",
    "no-param-reassign" : "error",
    "no-unreachable" : "error",
    "arrow-parens" : "error",
    "one-var-declaration-per-line" : "error",
    "curly": "error",
    "semi": "error",
    "prefer-const": "error",
    "vars-on-top" : "error",
    "no-cond-assign": "error",
    "@typescript-eslint/ban-ts-comment" : "warn",
    "comma-spacing" : "error",
    "no-multi-spaces" : "error",
    "prefer-template" : "error",
    "import/extensions": [2, "ignorePackages"],
    "max-nested-callbacks" : ["error",{
      "max": 3
    }],
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-empty-function": 0
  }
}
