{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "require-jsdoc": "error",
    "no-unused-vars": "warn"
  }
}
