{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist", "docs", "node_modules", "dev/*.esm*"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "require-jsdoc": "error",
    "no-unused-vars": "warn"
  }
}
