<!-- start:lunr-search-navbar.hbs -->
<form class="navbar-form navbar-right" role="search">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search" id="lunr-search-input">
		<div class="input-group-btn">
			<button class="btn btn-default" id="lunr-search-submit">
				<i class="glyphicon glyphicon-search"></i>
			</button>
		</div>
	</div>
</form>
<!-- start:lunr-search-navbar.hbs -->