{{#if fires}}
	{{#callout "Fires" "callout-warning"}}
		<form class="form-horizontal fires">
			{{#each fires}}
				<div class="form-group">
					<label class="col-sm-3 control-label fires-event">{{{link}}}</label>
					<div class="col-sm-9">
						<div class="form-control-static fires-summary">{{{summary}}}</div>
					</div>
				</div>
			{{/each}}
		</form>
	{{/callout}}
{{/if}}