{{#if exceptions}}
	{{#callout "Throws" "callout-danger"}}
		<form class="form-horizontal exceptions">
			{{#each exceptions}}
				<div class="form-group">
					<label class="col-sm-3 control-label exceptions-type">{{type-names type}}</label>
					<div class="col-sm-9">
						<div class="form-control-static exceptions-description">{{{description}}}</div>
					</div>
				</div>
			{{/each}}
		</form>
	{{/callout}}
{{/if}}