<!-- start:readme.hbs -->
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="readme-section">
			<article>{{{doclet.contents}}}</article>
		</section>
	{{/content}}

{{/extend}}
<!-- end:readme.hbs -->